# Count and Frequency Encoding
- In this encoding technique, categories are replaced by the count of the observations that show that category in the dataset. - Replacement can also be done with the frequency of the percentage of observations in the dataset. Suppose, if 30 of 100 genders are male we can replace male with 30 or by 0.3.
- This approach is popularly used in data science competitions, so basically it represents how many times each label appears in the dataset.

In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('mercedesbenz.csv', usecols=['X1', 'X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [35]:
df.shape

(4209, 2)

In [36]:
df['X1'].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [37]:
df['X1'].nunique()

27

In [38]:
df['X2'].unique()

array(['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k',
       'ae', 's', 'f', 'd', 'ag', 'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y',
       'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 'p', 'am',
       'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar'], dtype=object)

In [39]:
df['X2'].nunique()

44

### No. of Labels

In [40]:
for col in df.columns:
    print(col,' : ',df[col].nunique(), 'labels')

X1  :  27 labels
X2  :  44 labels

In [41]:
df_frequency=df['X2'].value_counts().to_dict()
df_frequency

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [42]:
df.head(10)

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n
5  b   e
6  r   e
7  l  as
8  s  as
9  b  aq

In [43]:
df['X2']=df['X2'].map(df_frequency)
df.head(10)

  X1    X2
0  v     6
1  t     4
2  w   137
3  t   137
4  v   137
5  b    81
6  r    81
7  l  1659
8  s  1659
9  b    63