# Data Pre-Processing (Life Expectancy ; WHO)

In [117]:
import warnings
warnings.filterwarnings('ignore')

from statsmodels.stats.outliers_influence import variance_inflation_factor

# Handling Missing Values

### Method : Mode

In [133]:
import pandas as pd
df=pd.read_csv('Life Expectancy Data.csv')
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [134]:
df.columns=['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [97]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [105]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [157]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='most_frequent',fill_value=None)

In [158]:
df['Life expectancy']=imputer.fit_transform(df[['Life expectancy']])
df['Adult Mortality']=imputer.fit_transform(df[['Adult Mortality']])
df['Alcohol']=imputer.fit_transform(df[['Alcohol']])
df['Hepatitis B']=imputer.fit_transform(df[['Hepatitis B']])
df['BMI']=imputer.fit_transform(df[['BMI']])
df['Polio']=imputer.fit_transform(df[['Polio']])
df['Total expenditure']=imputer.fit_transform(df[['Total expenditure']])
df['Diphtheria']=imputer.fit_transform(df[['Diphtheria']])
df['GDP']=imputer.fit_transform(df[['GDP']])
df['Population']=imputer.fit_transform(df[['Population']])
df['thinness  1-19 years']=imputer.fit_transform(df[['thinness  1-19 years']])
df['thinness 5-9 years']=imputer.fit_transform(df[['thinness 5-9 years']])
df['Income composition of resources']=imputer.fit_transform(df[['Income composition of resources']])
df['Schooling']=imputer.fit_transform(df[['Schooling']])

In [119]:
df.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
BMI                                0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
HIV/AIDS                           0
GDP                                0
Population                         0
thinness  1-19 years               0
thinness 5-9 years                 0
Income composition of resources    0
Schooling                          0
dtype: int64

# Handling Duplicated Values

In [37]:
duplicate_rows=df[df.duplicated()]
print('Number of duplicated rows: ',duplicate_rows.shape[0])

Number of duplicated rows:  0

- There is no duplicated value.

# Handling Outliers

In [130]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
upper_limit=Q3 + (1.5 * IQR)
lower_limit=Q1 - (1.5 * IQR)
Outliers = df[((df <lower_limit ) |(df >upper_limit ))]
Outliers

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
Outliers.sum()

Country                              0
Year                               0.0
Status                               0
Life expectancy                    0.0
Adult Mortality                    0.0
infant deaths                      0.0
Alcohol                            0.0
percentage expenditure             0.0
Hepatitis B                        0.0
Measles                            0.0
BMI                                0.0
under-five deaths                  0.0
Polio                              0.0
Total expenditure                  0.0
Diphtheria                         0.0
HIV/AIDS                           0.0
GDP                                0.0
Population                         0.0
thinness  1-19 years               0.0
thinness 5-9 years                 0.0
Income composition of resources    0.0
Schooling                          0.0
dtype: object

# Capping Outliers using IQR Ranges

In [177]:
Q1 = df["infant deaths"].quantile(0.25)
Q3 = df["infant deaths"].quantile(0.75)
IQR = Q3 - Q1
upper_limit=Q3 + (1.5 * IQR)
lower_limit=Q1 - (1.5 * IQR)
df["infant deaths"] = np.where(df["infant deaths"]> upper_limit, upper_limit,
                        np.where(df["infant deaths"]< lower_limit, lower_limit,
                          df["infant deaths"]))

In [178]:
Q1 = df["percentage expenditure"].quantile(0.25)
Q3 = df["percentage expenditure"].quantile(0.75)
IQR = Q3 - Q1
upper_limit=Q3 + (1.5 * IQR)
lower_limit=Q1 - (1.5 * IQR)
df["percentage expenditure"] = np.where(df["percentage expenditure"]> upper_limit, upper_limit,
                        np.where(df["percentage expenditure"]< lower_limit, lower_limit,
                          df["percentage expenditure"]))

In [179]:
Q1 = df["Measles"].quantile(0.25)
Q3 = df["Measles"].quantile(0.75)
IQR = Q3 - Q1
upper_limit=Q3 + (1.5 * IQR)
lower_limit=Q1 - (1.5 * IQR)
df["Measles"] = np.where(df["Measles"]> upper_limit, upper_limit,
                        np.where(df["Measles"]< lower_limit, lower_limit,
                          df["Measles"]))

In [180]:
Q1 = df["under-five deaths"].quantile(0.25)
Q3 = df["under-five deaths"].quantile(0.75)
IQR = Q3 - Q1
upper_limit=Q3 + (1.5 * IQR)
lower_limit=Q1 - (1.5 * IQR)
df["under-five deaths"] = np.where(df["under-five deaths"]> upper_limit, upper_limit,
                        np.where(df["under-five deaths"]< lower_limit, lower_limit,
                          df["under-five deaths"]))

In [181]:
Q1 = df["HIV/AIDS"].quantile(0.25)
Q3 = df["HIV/AIDS"].quantile(0.75)
IQR = Q3 - Q1
upper_limit=Q3 + (1.5 * IQR)
lower_limit=Q1 - (1.5 * IQR)
df["HIV/AIDS"] = np.where(df["HIV/AIDS"]> upper_limit, upper_limit,
                        np.where(df["HIV/AIDS"]< lower_limit, lower_limit,
                          df["HIV/AIDS"]))

In [183]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
upper_limit=Q3 + (1.5 * IQR)
lower_limit=Q1 - (1.5 * IQR)
Outliers = df[((df <lower_limit ) |(df >upper_limit ))]
Outliers.sum()

Country                              0
Year                               0.0
Status                               0
Life expectancy                    0.0
Adult Mortality                    0.0
infant deaths                      0.0
Alcohol                            0.0
percentage expenditure             0.0
Hepatitis B                        0.0
Measles                            0.0
BMI                                0.0
under-five deaths                  0.0
Polio                              0.0
Total expenditure                  0.0
Diphtheria                         0.0
HIV/AIDS                           0.0
GDP                                0.0
Population                         0.0
thinness  1-19 years               0.0
thinness 5-9 years                 0.0
Income composition of resources    0.0
Schooling                          0.0
dtype: object

In [184]:
Outliers.shape[0]

2938

In [135]:
df_num=df.select_dtypes(include='number')
df_num

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2004,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,2003,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,2002,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,2001,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,2000,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [160]:
for i in df_num:
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    upper_limit=Q3 + (1.5 * IQR)
    lower_limit=Q1 - (1.5 * IQR)
    df[i] = np.where(df[i]> upper_limit, upper_limit,np.where(df[i]< lower_limit, lower_limit,df[i]))
    Outliers = df[((df[i] <=lower_limit ) |(df[i] >=upper_limit ))]
    print(f'Total number of outliers in "{i}" are:', Outliers.shape[0])

Total number of outliers in "Year" are: 0
Total number of outliers in "Life expectancy" are: 17
Total number of outliers in "Adult Mortality" are: 95
Total number of outliers in "infant deaths" are: 326
Total number of outliers in "Alcohol" are: 1
Total number of outliers in "percentage expenditure" are: 389
Total number of outliers in "Hepatitis B" are: 0
Total number of outliers in "Measles" are: 542
Total number of outliers in "BMI" are: 0
Total number of outliers in "under-five deaths" are: 398
Total number of outliers in "Polio" are: 279
Total number of outliers in "Total expenditure" are: 0
Total number of outliers in "Diphtheria" are: 298
Total number of outliers in "HIV/AIDS" are: 542
Total number of outliers in "GDP" are: 0
Total number of outliers in "Population" are: 0
Total number of outliers in "thinness  1-19 years" are: 0
Total number of outliers in "thinness 5-9 years" are: 0
Total number of outliers in "Income composition of resources" are: 0
Total number of outliers in "Schooling" are: 77

In [161]:
df.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
BMI                                0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
HIV/AIDS                           0
GDP                                0
Population                         0
thinness  1-19 years               0
thinness 5-9 years                 0
Income composition of resources    0
Schooling                          0
dtype: int64

In [170]:
np.isin(df,any).shape[0]

2938

# Multicolinearity (VIF)

In [ ]:
X = df_num

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

calc_vif(X)

# Encoding Categorical Variables

### Method : One Hot Encoding

In [48]:
dummies=pd.get_dummies(df[['Country']])
df=pd.concat([df.drop(['Country'],axis=1),dummies],axis=1)

In [49]:
dummies=pd.get_dummies(df[['Status']])
df=pd.concat([df.drop(['Status'],axis=1),dummies],axis=1)

In [50]:
df

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developed,Status_Developing
0,2015,65.0,263.0,55.0,0.01,71.279624,65.0,900.625,19.1,70.0,...,0,0,0,0,0,0,0,0,0,1
1,2014,59.9,271.0,55.0,0.01,73.523582,62.0,492.000,18.6,70.0,...,0,0,0,0,0,0,0,0,0,1
2,2013,59.9,268.0,55.0,0.01,73.219243,64.0,430.000,18.1,70.0,...,0,0,0,0,0,0,0,0,0,1
3,2012,59.5,272.0,55.0,0.01,78.184215,67.0,900.625,17.6,70.0,...,0,0,0,0,0,0,0,0,0,1
4,2011,59.2,275.0,55.0,0.01,7.097109,68.0,900.625,17.2,70.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2004,44.3,723.0,27.0,4.36,0.000000,68.0,31.000,27.1,42.0,...,0,0,0,0,0,0,0,1,0,1
2934,2003,44.5,715.0,26.0,4.06,0.000000,7.0,900.625,26.7,41.0,...,0,0,0,0,0,0,0,1,0,1
2935,2002,44.8,73.0,25.0,4.43,0.000000,73.0,304.000,26.3,40.0,...,0,0,0,0,0,0,0,1,0,1
2936,2001,45.3,686.0,25.0,1.72,0.000000,76.0,529.000,25.9,39.0,...,0,0,0,0,0,0,0,1,0,1
2937,2000,46.0,665.0,24.0,1.68,0.000000,79.0,900.625,25.5,39.0,...,0,0,0,0,0,0,0,1,0,1

# Drop Irrelevant Columns

- Only 'Year' column is irrelevant.

In [51]:
df.drop(['Year'],axis=1,inplace=True)
df

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,...,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developed,Status_Developing
0,65.0,263.0,55.0,0.01,71.279624,65.0,900.625,19.1,70.0,6.0,...,0,0,0,0,0,0,0,0,0,1
1,59.9,271.0,55.0,0.01,73.523582,62.0,492.000,18.6,70.0,58.0,...,0,0,0,0,0,0,0,0,0,1
2,59.9,268.0,55.0,0.01,73.219243,64.0,430.000,18.1,70.0,62.0,...,0,0,0,0,0,0,0,0,0,1
3,59.5,272.0,55.0,0.01,78.184215,67.0,900.625,17.6,70.0,67.0,...,0,0,0,0,0,0,0,0,0,1
4,59.2,275.0,55.0,0.01,7.097109,68.0,900.625,17.2,70.0,68.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,44.3,723.0,27.0,4.36,0.000000,68.0,31.000,27.1,42.0,67.0,...,0,0,0,0,0,0,0,1,0,1
2934,44.5,715.0,26.0,4.06,0.000000,7.0,900.625,26.7,41.0,7.0,...,0,0,0,0,0,0,0,1,0,1
2935,44.8,73.0,25.0,4.43,0.000000,73.0,304.000,26.3,40.0,73.0,...,0,0,0,0,0,0,0,1,0,1
2936,45.3,686.0,25.0,1.72,0.000000,76.0,529.000,25.9,39.0,76.0,...,0,0,0,0,0,0,0,1,0,1
2937,46.0,665.0,24.0,1.68,0.000000,79.0,900.625,25.5,39.0,78.0,...,0,0,0,0,0,0,0,1,0,1

In [107]:
df.to_csv('Converted_life_Data')